 .container-filter-checkbox-locations {
   max-height: 150px;
   overflow-y: auto;
 }

 .container-cards-locations {
   max-height: 600px;
   overflow-y: auto;
 }

 .card {
   width: 260px;
   height: 400px;
 }

 .modal-style{
  display: block;

 }

 .modal-content {
   position: relative;
   overflow: hidden;
 }

 .modal-overlay {
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: rgba(0, 0, 0, 0.5);
   filter: blur(5px);
   z-index: 1;
 }

 .modal-header {
   position: relative;
   z-index: 2;
 }

 .modal-body {
   position: relative;
   z-index: 2;
 }

 .showFavoritesModal {
  display: block;
 }

 .container-resident{
  max-height: 250px;
  overflow-y: auto;
 }

 .card-resident {
  width: 6rem;
 }