* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../assets/imagenes/universo_oscuro.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

header {
    -webkit-box-shadow: -1px 10px 14px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -1px 10px 14px 0px rgba(0, 0, 0, 0.34);
    box-shadow: -1px 10px 14px 0px rgba(0, 0, 0, 0.34);
}

main {
    min-height: 90vh;
}

.navbar-brand-logo {
    height: 50px;
}

.carousel {
    height: 350px;
}

/* Ajuste responsivo para el carrusel */
.carousel-inner img {
    width: 100%;
    height: 350px;
    object-fit: cover;
    max-height: 500px;
}

/* Ajustes adicionales para tamaños de pantalla pequeños */
@media (max-width: 768px) {
    .carousel {
        height: 300px;
    }

    .carousel-inner img {
        max-height: 300px;
    }
}

.status {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: yellowgreen;
    background: repeating-conic-gradient(from 0deg, green 0deg 191deg, red 191deg 316deg, gray 316deg 360deg);
}

.gender {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: blue;
    background: repeating-conic-gradient(from 0deg, blue 0deg 266deg, pink 266deg 330deg, green 330deg 338deg, gray 338deg 360deg);
}

/* Ajustes adicionales para tamaños de pantalla extra pequeños */
@media (max-width: 576px) {
    .carousel {
        height: 200px;
    }

    .carousel-inner img {
        max-height: 200px;
    }
}

/* Ajustes adicionales para tamaños de pantalla extra  extra pequeños */
@media (max-width: 400px) {
    .carousel {
        height: 150px;
    }

    .carousel-inner img {
        max-height: 150px;
    }

    .navbar-brand-logo {
        height: 35px;
    }
}