/* Estilos generales de la maqueta base no integrar estilos en esta hoja*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --kiwi-green: #88e23b;
    --texas: #ebe480;
    --tardis-blue: #043c6e;
    --endo: #60a85f;
    --mystery: #a6cccc;
    --calla-green: #6b7132;
    --white: #fff;
    --black: #000;
}

header {
    -webkit-box-shadow: -1px 10px 14px 0px rgba(0, 0, 0, 0.34);
    -moz-box-shadow: -1px 10px 14px 0px rgba(0, 0, 0, 0.34);
    box-shadow: -1px 10px 14px 0px rgba(0, 0, 0, 0.34);
}

main {
    min-height: 90vh;
}

.navbar-brand-logo {
    height: 40px;
}

.nav-item :hover {
    color: var(--mystery);
    background-color: var(--black);
}

.nav-link-active {
    color: var(--kiwi-green);
    font-size: large;
    font-weight: bold;

}


footer {
    background-image: url(https://e0.pxfuel.com/wallpapers/873/692/desktop-wallpaper-interdimensional-rss-the-rick-and-morty-podcast-rick-and-morty-universe.jpg);
    background-size: cover;
}

.logo-footer {
    max-width: 150px;
}

.footer-note {
    display: block;
    font-size: 0.875rem; /* Tamaño de fuente más pequeño para el texto */
    color: var(--black); /* Color blanco claro */
    background-color: var(--mystery); /* Fondo oscuro para el contraste */
    padding: 10px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    text-align: center; /* Alineación centrada */
    font-style: italic; /* Cursiva para el texto */
    margin-top: 20px; /* Espacio superior */
  }
  
  .footer-note .copyright-symbol {
    font-size: 1.2rem; /* Tamaño de fuente mayor para el símbolo */
    color: var(--tardis-blue); /* Color verde para el símbolo */
    font-weight: bold; /* Negrita para el símbolo */
    margin-right: 5px; /* Espacio a la derecha del símbolo */
  }
  
  .footer-note strong {
    color: var(--tardis-blue); /* Color azul para destacar el texto importante */
    font-weight: bold; /* Negrita para el texto importante */
  }
  
    

/* Ajustes adicionales para tamaños de pantalla pequeños */
@media (max-width: 768px) {
    .carousel {
        height: 300px;
    }

    .carousel-inner img {
        max-height: 300px;
    }
}

/* Ajustes adicionales para tamaños de pantalla extra pequeños */
@media (max-width: 576px) {
    .carousel {
        height: 200px;
    }

    .carousel-inner img {
        max-height: 200px;
    }
}

/* Ajustes adicionales para tamaños de pantalla extra  extra pequeños */
@media (max-width: 400px) {
    .carousel {
        height: 150px;
    }

    .carousel-inner img {
        max-height: 150px;
    }

    .navbar-brand-logo {
        height: 35px;
    }
}
