* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn {
    width: auto;
}

.status {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: yellowgreen;
    background: repeating-conic-gradient(from 0deg, green 0deg 191deg, red 191deg 316deg, gray 316deg 360deg);
}

.gender {
    height: 30vh;
    width: 30vh;
    border-radius: 50%;
    background-color: blue;
    background: repeating-conic-gradient(from 0deg, blue 0deg 266deg, pink 266deg 330deg, green 330deg 338deg, gray 338deg 360deg);
}

.stats {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.5rem;
}

#imgSpecieTable {
    transition: transform 0.3s ease;
    border-radius: 5%;
}

#imgSpecieTable:hover {
    transform: scale(1.5);
}

#topTenC,
#topTenL,
#residents {
    flex-direction: column;
    text-align: center;
}

.card-title {
    text-shadow:
        1px 1px 2px rgba(0, 0, 0, 0.5),
        2px 2px 4px rgba(0, 0, 0, 0.5),
        3px 3px 6px rgba(0, 0, 0, 0.5);
}

.card:hover {
    transform: scale(1.2);
}

#graficoStatus, #graficoGender, #graficoSpecies {
    background-color: #E0E5B6;
}
.sec1-video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    overflow: hidden; /* Para asegurar que el video no se desborde */
}

.video-bg {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    object-position: center;
    z-index: -1; 
}